* {
    margin: 0;
    padding: 0;
}

body {
    font: 20px/1.6 'Montserrat', sans-serif;
}

.main-block {
    background: url('../img/header-bg.png') no-repeat fixed;
    background-size: cover;
    height: 1040px;
}

.top-header {
    display: flex;
    height: auto;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 5px rgba(255, 255, 255, .2);
    padding: 0 10%;
}

.logo-elem {
    max-width: 350px;
    display: flex;
    align-items: center;
}

.text-logo {
    font-size: 36px;
    font-weight: bolder;
    color: #fff;
}

nav {
    width: 50%;
    padding: 2% 0;
    margin-left: 6%;
}

.nav-menu {
    list-style: none;
}

.menu-elem {
    display: inline-flex;
    position: relative;
    margin-right: 4%;
    float: left;
}

.menu-elem a {
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    transition: 0.5s;
}

.menu-elem a:hover,
.logo-elem div:hover {
    color: rgb(64, 153, 61);
}

.menu-elem a:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 75%;
    border-bottom: 2px solid rgb(64, 153, 61);
}

.menu-trigger {
    color: #FF534B;
    font-weight: bold;
    display: none;
}

@media screen and (max-width: 930px) {
    #adaptive-menu {
        transition: all 2s ease-in;
    }
    nav {
        width: auto;
        padding: 0;
    }
    .nav-menu {
        display: none;
    }
    .active ul {
        display: flex;
        flex-direction: column;
    }
    .hamburger {
        display: block;
        position: relative;
        line-height: 60px;
        font-weight: bold;
    }
    .menu-icon {
        display: block;
        font-size: 0;
        background: none;
        border: none;
        width: 30px;
        height: 25px;
        position: absolute;
        top: 25px;
        right: 10%;
        cursor: pointer;
    }
    .menu-icon,
    .menu-icon:before,
    .menu-icon:after {
        border-top: 3px solid #fff;
        transition: all .1s;
    }
    .menu-icon:before,
    .menu-icon:after {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        right: 0;
    }
    .menu-icon:before {
        top: 7px;
    }
    .menu-icon:after {
        top: 17px;
    }
    .active .menu-icon {
        border-top-color: transparent;
    }
    .active .menu-icon:after {
        transform: rotate(45deg);
        top: 5px;
    }
    .active .menu-icon:before {
        transform: rotate(-45deg);
        top: 5px;
    }
}

@media (max-width: 630px) and (orientation: portrait) {
    .main-block {
        background: url('../img/header-bg.png') no-repeat fixed;
        background-size: contain;
        height: 1040px;
    }
}

@media (width:1024px),
(height:768px) {
    .main-block {
        background: url('../img/header-bg.png') no-repeat fixed;
        background-size: cover;
        height: 1040px;
    }
}